# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.[YOUR-PROJECT-ID]:[YOUR-PASSWORD]@aws-1-ap-northeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.[YOUR-PROJECT-ID]:[YOUR-PASSWORD]@aws-1-ap-northeast-1.pooler.supabase.com:5432/postgres"

supabase_password=[YOUR-PASSWORD]
supabase_url=https://your-supabase-url.supabase.co


NEXT_PUBLIC_SUPABASE_URL=https://nssqtmlrbsphtmbtttae.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zc3F0bWxyYnNwaHRtYnR0dGFlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjEzOTA5OTcsImV4cCI6MjA3Njk2Njk5N30.ypAZ1aSC_IAZBcuOfDZ2xFNb5C8lXxy3O4A5xxilj48
